* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	margin-top: 3rem;
	font-size: 2.5rem;
	letter-spacing: 1.2px;
}

.btn-main {
	color: rgb(6, 5, 5);
	border: 1px solid rgb(6, 5, 5);
	margin: 1rem 0 0 1rem;
	padding: 8px 16px;
	letter-spacing: 0.9px;
	background-color: rgba(112, 150, 182, 0.6);
	font-style: italic;
}

.btn-main:hover {
	cursor: pointer;
	background-color: rgb(211, 209, 214);
	color: rgb(35, 35, 33);
}
