.btn-main {
	color: rgb(6, 5, 5);
	border: 1px solid rgb(6, 5, 5);
	margin: 1rem 0 0 1rem;
	padding: 8px 16px;
	letter-spacing: 0.9px;
	background-color: rgba(216, 216, 216, 0.66);
	font-style: italic;
}

.btn-main:hover {
	cursor: pointer;
	background-color: rgb(211, 209, 214);
	color: rgb(35, 35, 33);
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #222;
	font-family: 'Roboto Mono', monospace;
	height: 100vh;
}

.container {
	width: 80vw;
	margin: 50px auto;
}

.againBtn {
	margin: 24px;
	padding: 8px 16px;
	background-color: white;
	border: none;
	font-weight: bolder;
}
.againBtn:hover {
	cursor: pointer;
}

.gameCondition {
	display: inline;
	float: right;
	margin: 16px;
	color: white;
}

.header {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-bottom: 36px;
}

.secretNumber {
	width: 100px;
	margin: 0 auto;
	font-size: 60px;
	background-color: white;
	text-align: center;
	padding: 8px 16px;
}

.bottom-section {
	display: flex;
	margin-top: 56px;
	color: white;
	justify-content: space-between;
}

input {
	text-align: center;
	border: 2px solid white;
	height: 60px;
	width: 110px;
	font-size: 36px;
	color: white;
	background-color: inherit;
	padding-left: 15px;
}

.input {
	margin-left: 60px;
}

.checkBtn {
	display: block;
	width: 80px;
	padding: 8px 16px;
	margin-top: 12px;
	margin-left: 26px;
	border: none;
	background-color: white;
	font-weight: bolder;
}
.checkBtn:hover {
	cursor: pointer;
}

.results p {
	line-height: 1.8em;
	font-size: 1.3em;
	width: 250px;
}

.message {
	height: 76px;
}
