@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url('images/snow.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.btn-main {
	color: rgb(6, 5, 5);
	border: 1px solid rgb(6, 5, 5);
	margin: 1rem 0 0 1rem;
	padding: 8px 16px;
	letter-spacing: 0.9px;
	background-color: rgba(112, 150, 182, 0.6);
}

.btn-main:hover {
	cursor: pointer;
	background-color: rgb(211, 209, 214);
	color: rgb(35, 35, 33);
}

h1 {
	text-align: center;
	margin-top: 2rem;
	font-size: 3rem;
	letter-spacing: 0.3rem;
	font-weight: lighter;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

main div {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	text-align: center;
}

main div span {
	font-size: 3rem;
	font-weight: bold;
}
